body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #222222;
}

h1, h2 {
    letter-spacing: 0.2rem;
    color: #0F4C81;
}

h1 {
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: bold;
}

h1 small {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #636363;
    text-transform: none;
}

h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

h2::after {
    content: " ";
    display: block;
    height: 3px;
    width: 2.5em;
    background-color: #0F4C81;
}

h3 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-transform: none;
}

.border-top {
    border-top: solid 1px #cccccc;
}

.border-right {
    border-right: solid 1px #cccccc;
}

.border-left {
    border-left: solid 1px #cccccc;
}

.bg-0F4C81 {
    background-color: #0F4C81;
}

.bg-F1F6Fa {
    background-color: #f1f6fa;
}

.color-0F4C81 {
    color: #0F4C81;
}

.border-color-0F4C81 {
    border-color: #0F4C81;
}

.hide-on-mobile {
    display: revert;
}

.hide-on-desktop {
    display: none;
}

@media only screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

    .hide-on-desktop {
        display: revert;
    }

    .mobile-view {
        float: none;
        display: block;
        width: 100%;
    }

    main.mobile-view {
        border-left-width: 0;
        padding-left: 0;
    }

    aside.mobile-view {
        margin-left: 0;
    }
}

@media print {
    .page-break {
        page-break-before: always;
    }
}